* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #09090A;
    color: white;
    
    height: 100vh;
  }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  background-color: #09090A;
  width: 100%;
}

  button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 125%;
    font-size: 16px;
    padding: 16px 24px;
    background-color: transparent;
    color: #FFFFFF;
    
    border: 1px solid #8B5CF6;
    border-radius: 8px;
  
    display: flex;
    align-items: center;

    gap: 12px;
  }

  button:hover {
    background-color: #2b2b30;
    border: 1px solid #A78BFA;
  }

  
  #form-habits {
    display: flex;

    padding: 182px 48px 100px;
    width: fit-content;
  }

  .habits {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 60px;
  }
  
  .habit {
    width: 64px;
    height: 64px;

    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .days {
    display: flex;
    gap: 48px;

    margin-left: 32px;
  }

  .day {
    display: flex;
    gap: 24px;

    flex-direction: column;
  }

  .day div {
    font-family: 'Roboto Mono', monospace;
    color: #A1A1AA;

    font-size: 20px;
    line-height: 125%;
    
    margin-bottom: 8px;
    text-align: center;
  }

  input {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    background: #18181B;
    border: 2px solid #A78BFA;
    border-radius: 8px;
  }

  input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
  }

  @media (max-width: 570px) {
    button div {
      display: none;
    }
  }